@import "../../style/mixins";
@import "../../style/variables";

.bmt-releases {
  @include container;
  @include vertical-divider;

  .bmt-releases-title {
    @include container-title-text;  
  }

  .bmt-releases-description {
    @include content-text;
    margin-bottom: $vertical-gutter-small;
  }
  // beginning of preview box style
  .release-preview {
    position: relative;
    padding: $vertical-gutter-medium $horizontal-gutter;
    background: #FBFBFB;
    box-shadow: 0 9px 20px 3px rgba(226,233,248,0.79);
    border-radius: 10px;
    margin-bottom: $vertical-gutter-small;

    .release-full-btn {
      display: block;
      // cover the entire block, so it behave as a clickable button
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .release-preview-title {
      @include content-title-text;
    }
    .release-preview-brief, .release-expand {
      @include content-text;
    }
    .release-preview-image {
      @include content-image;
    }
    .release-expand {
      margin-bottom: 0;
      text-align: center;
      font-size: 0.75rem;
    }
  }
  .release-preview:last-of-type {
    margin-bottom: 0;
  }
  .release-preview:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(226,233,248,0.73);
    border-radius: 10px;
  }
  .release-preview:active {
    border: 1px solid #DCDCDC;
  }
  @media only screen and (min-width: 768px) {
    .release-preview {
      display: inline-block;
      width: 49%;
      margin-right: $horizontal-gutter-small;
      padding: $vertical-gutter-medium $horizontal-gutter-medium;
    }
  }
  @media only screen and (min-width: 1024px) {
    .release-preview {
      width: 32%;
      padding: $vertical-gutter-small $horizontal-gutter-small;
    }
  }
  // end of preview box style
  .bmt-releases-btn {
    @include primary-button;
    margin-top: $vertical-gutter-small;
  }
}
