@import "../../style/mixins";
@import "../../style/variables";

.bmt-releases {
  @include container;
  @include vertical-divider;
  .bmt-releases-title {
    @include container-title-text;  
  }
  .bmt-releases-description {
    @include content-text;
    margin-bottom: $vertical-gutter-medium;
  }
  // beginning of preview box style
  .release-preview {
    padding: $vertical-gutter-medium $horizontal-gutter;
    margin-bottom: $vertical-gutter-medium;
    background: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(226,233,248,0.73);
    border-radius: 10px;

    .release-preview-title {
      @include content-title-text;
    }

    .release-preview-brief, .release-expand {
      @include content-text;
    }

    .release-preview-image {
      @include content-image;
    }

    .release-expand {
      margin-bottom: 0;
      text-align: center;
      font-size: 0.75rem;
    }
  }
  // end of preview box style
  .bmt-releases-all-btn {
    @include primary-button;
  }
}
