@import "../../style/mixins";
@import "../../style/variables";

.page-contaienr, .btm-main {
  position: relative;
  width: 100%;
}

.page-container {
  height: 100%;
  @include vertical-scroll-momentum();
  background: $primary-background;
  .suggestions-container {
    @include container;
    @include vertical-divider;
    .suggestions-title {
      @include container-title-text;
    }
    .suggestions-text {
      @include content-text;
    }
    .suggestions-text:last-of-type {
      margin-bottom: 0;
    }
  }
}
