@import "../../style/mixins";
@import "../../style/variables";

.page-contaienr, .btm-main {
  position: relative;
  width: 100%;
}

.page-container {
  height: 100%;
  @include vertical-scroll-momentum();
  background: $primary-background;
  .bmt-mission, .bmt-ethics, .bmt-disclaimer, .bmt-contributors, .bmt-faq {
    @include container;
    @include vertical-divider;
  }
  .bmt-mission .bmt-mission-title,
  .bmt-ethics .bmt-ethics-title,
  .bmt-disclaimer .bmt-disclaimer-title,
  .bmt-contributors .bmt-contributors-title,
  .bmt-faq .bmt-faq-title {
    @include container-title-text;
  }
  .bmt-mission .bmt-mission-text,
  .bmt-ethics .bmt-ethics-text,
  .bmt-disclaimer .bmt-disclaimer-text {
    @include content-text;
  }
  .bmt-faq .bmt-faq-question,
  .bmt-faq .bmt-faq-answer {
    @include content-text;
  }
}
