@import "../../style/variables";
@import "../../style/mixins";

.bmt-header, .header-container {
  position: relative;
  width: 100%;
}

.bmt-header {
  padding: 0 $horizontal-gutter;
  z-index: 2;
  .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: $vertical-gutter-large;
    padding-bottom: $vertical-gutter-extra-small;
    @include vertical-divider();
    .logo-text {
      font-size: $logo-text-size;
      font-weight: 600;
    }
    .logo-text-dark {
      color: $primary-font-color;
    }
    .logo-text-light {
      color: #FFFFFF;
    }
    // hamgburger menu
    .burger-menu-button, .burger-menu {
      display: inline-block;
      position: relative;
    }
    .burger-menu-button {
      z-index: 10;
    }
    .burger-menu {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  .header-nav {
    display: none;
    .nav-items-container {
      display: block;
      .nav-item {
        margin-bottom: 40px;
      }
    }
    a {
      font-family: $primary-font;
      font-size: 1.25rem;
      color: #353975;
      letter-spacing: 1.6px;
      line-height: 20px;
    }
  }
  .nav-mobile {
    padding-top: 120px;
  }
}

// expand mobile menu
.nav-mobile-active {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 $horizontal-gutter;
  background: #EFF2F5;
}
