/*************************************
Better Me Too Visual Guide
*************************************/

// fonts
$primary-font: 'Libre Franklin', sans-serif;
$content-font: 'Lora', serif;

// font size
$logo-text-size: 1.125rem;
$title-text-size: 1.125rem;
$content-title-text-size: 0.875rem;
$primary-text-size: 0.875rem;

// gutter
$horizontal-gutter: 6%;
$vertical-gutter-large: 50px;
$vertical-gutter-medium: 30px;
$vertical-gutter-small: 20px;
$vertical-gutter-extra-small: 10px;
$vertical-gutter-tiny: 5px;

// color
$primary-font-color: #353975;
$banner-gradient: linear-gradient(225deg, #62BDC8 0%, #517DAF 52%, #555CCF 100%);
$primary-background: #EFF2F5;