@import "../../style/mixins";
@import "../../style/variables";

.tl-container {
  @include container;
  @include vertical-divider;
  .thoughts-letter-title {
    @include container-title-text;
  }
  .thoughts-letter-text {
    @include content-text;
  }
  @media only screen and (min-width: 768px) {
    .thoughts-letter-text {
      width: 90%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .thoughts-letter-text {
      width: 75%;
    }
  }
  // Form Style Begin
  .thoughts-letter-form {
    display: flex;
    height: 40px;
    margin-bottom: $vertical-gutter-extra-small;
    box-shadow: 0 4px 6px 0 rgba(103, 114, 136, 0.33);
    border-radius: 4px;
    overflow: hidden;
    .thoughts-letter-input {
      width: 75%;
      padding: 0 10px;
      font-size: 1rem;
      color: $primary-font-color;
      background: #FFFFFF;
    }
    @media only screen and (min-width: 768px) {
      .thoughts-letter-input {
        flex-grow: 1;
      }
    }
    .thoughts-letter-submit {
      width: 25%;
      font-size: 0.875rem;
      color: #FFFFFF;
      letter-spacing: 0.93px;
      background-image: linear-gradient(45deg, #6592E0 0%, #F3AFF1 100%);
    }
    @media only screen and (min-width: 768px) {
      .thoughts-letter-submit {
        flex-grow: 0;
        width: 120px;
      }
    }
  }
  @media only screen and (min-width: 800px) {
    .thoughts-letter-form {
      flex-basis: 0;
      width: 800px;
    }
  }
  // Form Style End
  .thoughts-letter-example-btn {
    @include primary-button;
  }
}
