@import "../../style/mixins";
@import "../../style/variables";

.page-contaienr, .gradient-container, .btm-main {
  position: relative;
  width: 100%;
}

.page-container {
  height: 100%;
  @include vertical-scroll-momentum();
  .bmt-main {
    background: $primary-background;
  }
  .gradient-container {
    background: $banner-gradient;
  }
  .nav-mobile-active {
    height: 100%;
  }
  .page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
  }
  .page-background-image {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    top: 20px;
    left: -10%;
  }
}
