@import "../../style/mixins";
@import "../../style/variables";

.page-contaienr, .gradient-container, .btm-main {
  position: relative;
  width: 100%;
}

.page-container {
  height: 100%;
  @include vertical-scroll-momentum();
  .bmt-main {
    background: $primary-background;
  }
  .gradient-container {
    background-image: linear-gradient(225deg, #E0C4D4 0%, #CAA9BA 52%, #9080B1 100%);;
    .bmt-banner {
      display: flex;
      padding: 0 $horizontal-gutter;
      padding-top: 30px;
      z-index: 0;
      .bmt-banner-left {
        width: 48%;
        .bmt-banner-title, .bmt-banner-text {
          margin-bottom: $vertical-gutter-small;
        }
        .bmt-banner-title {
          font-size: 48px;
          color: #373737;
          letter-spacing: 3.2px;
        }
        .bmt-banner-text {
          font-size: 19px;
          color: #000000;
          letter-spacing: 1.27px;
          line-height: 25px;
        }
        .bmt-cta-button {
          display: inline-block;
          padding: 2px 2px;
          border-radius: 20.5px;
          margin-bottom: $vertical-gutter-large;
        }
      }
      .bmt-banner-right {
        position: relative;
        width: 50%;
        .bmt-banner-img {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
          height: 450px;
        }
      }
    }
  }
  .nav-mobile-active {
    height: 100%;
  }
  .page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
  }
  .page-background-image {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    top: 20px;
    left: -10%;
  }
  @media only screen and (min-width: 500px) {
    .page-background-image {
      height: auto;
      width: 120%;
      left: -5%;
    }
  }
  @media only screen and (min-width: 620px) {
    .page-background-image {
      height: 100%;
      width: auto;
      transform: translateX(110%);
    }
  }
}
