@import "../../style/variables";
@import "../../style/mixins";

.bmt-banner {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 $horizontal-gutter;
  padding-top: 30px;
  background: $banner-gradient;
  z-index: 0;
  .bmt-banner-title, .bmt-banner-text {
    font-size: $primary-text-size;
    color: #FFFFFF;
    letter-spacing: 0.93px;
    margin-bottom: $vertical-gutter-small;
  }
  .bmt-banner-title {
    font-weight: 600;
  }
  .bmt-banner-text {
    line-height: 20px;
  }
  .bmt-cta-button {
    display: inline-block;
    padding: 2px 2px;
    border-radius: 20.5px;
    margin-bottom: $vertical-gutter-large;
    background-image: linear-gradient(180deg, #DBE7FE 0%, #7C9ED4 100%);
  }
  .bmt-cta-accent {
    padding: 10px 20px;
    font-size: 0.75rem;
    color: #353975;
    letter-spacing: 0.8px;
    border-radius: 20.5px;
    background: #FFFFFF;
  }
}
